*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'inter sans-serif', sans-serif;
    height: 500px;
}
#nav{
    display: flex;
    justify-content: end;
    margin-top: -5%;
}
#admin-login-button{
   margin-left: 50%;
   margin-top: 5%;
}
#header{
    background: linear-gradient(to left,#777777,#A4A4A4,#BABABA,#D4D4D4);
    height: 20vh;
}
#logo img{
    max-width: 150px;
    display: block;
    /* remonter légèrement le logo : ajuster la valeur si nécessaire */
    transform: translateY(-28%);
    transition: transform 0.15s ease;
    margin-bottom: 0.5rem;
}
#logo h4{
    /* remonter légèrement le logo : ajuster la valeur si nécessaire */
    transform: translateY(-370%);
    transition: transform 0.15s ease;
    margin-bottom: 0.5rem;
    font-size: 120%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#logo h6{
    font-size: 60%;
    height: 125%;
}
#search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12%;
}
#search-bar form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-bar input[type="text"]{
    border: 1px solid white;
    border-radius: 0px 0 0 0px;
    outline: none;
    padding-left: 20%;
}
#search-bar button[type="submit"]{
    /* width: 10vh; */
    border: 1px solid #ccc;
    border-radius: 0 1000px 1000px 0;
    background-color: orange;
    cursor: pointer;
}
#search-bar button[type="button"]{
    border: 1px solid none;
    border-radius: 1000px 0 0 1000px;
}
.icons{
    text-decoration: none;
    color: black;
    font-size: 150%;
    transition: color 0.3s ease;
}
.icons:hover{
    color: orange;
}
.followus span{
    font-size: 150%;
}
.followus{
    margin-top: -6.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
}
.trackorder{
    display: flex;
    margin-left: 80%;
    margin-top: -2%;
}
.icon{
    gap:10%;
    display: flex;
    margin-left: 85%;
    margin-top: 2%;
}
#navbar{
    width: 100%;
}
#nav-links a:hover{
    color: blue;
}
 #section{
    background-image: url('../img/design.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
#Design{
font-size: 150%;
padding-top: -3%;
padding-left: 5%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#position{
font-size: 150%;
padding-top: 6%;
padding-left: 7%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#section .article #info1{
padding-left: 5%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#section .article #info1 button {
background-color: #D8D8D8;
}
#perceuse{
display: flex;
margin-top: -30%;
margin-left:30%;
height: 75vh;
width: auto;
}
#price{
background-color: #FFCC42;
width: 15vh;
height: 15vh;
border-radius: 1000px;
margin-left: 30%;
margin-top: -40%;
padding-left: 2.3%;
padding-top: 1.7%;
}
#drilling-img2{
display: flex;
margin-top: -29%;
margin-left:45%;
height: 75vh;
width: auto;
}
#tool1{

background-color: #FFCC42;
padding: 3%;
width: 110vh;
height: 78vh;
border-radius: 20px;
margin-left: 5%;
margin-top: 2%;

}
#tool1 img{
padding-left: 50%;
width: 870px;
margin-top: -60%;
margin-left: -27%;
}
#games{
padding-left: 13%;
}
#shop-now-btn{
background-color: red;
border-radius: 10px;
}
#Xbox{
font-size: 150%;
padding-top: 2%;
padding-left: 8%;

}
#Save{
padding-top: 5%;
padding-left: 1%;
}
#tool2{

background-color: #FFCC42;
width: 70vh;
border-radius: 20px;
margin-left: 4%;
margin-top: 2%;
height: 40vh;
}
#tool2 img{
padding-left: 50%;
width: 400px;
margin-top: -45%;
margin-left: 0%;
}
#games{
padding-left: 13%;
}
#shop-now{
background-color: white;
border-radius: 10px;
}
#Xbox{
font-size: 150%;
padding-top: 2%;
padding-left: 8%;

}
#Save{
padding-top: 5%;
padding-left: 1%;
}
#tool3{

background-color: #FFCC42;
width: 70vh;
border-radius: 20px;
margin-left: -33.5%;
margin-top: 23%;
height: 35vh;
}
#tool3 img{
padding-left: 50%;
width: 400px;
margin-top: -38%;
margin-left: -4%;
}
#games{
padding-left: 13%;
}
#shop-now-btn{
background-color: white;
border-radius: 10px;
}
#Xbox{
font-size: 150%;
padding-top: 2%;
padding-left: 8%;

}
#Save{
padding-top: 5%;
padding-left: 1%;
}
#USD{
padding-top: -20%;
font-size: 150%;
padding-left: 7%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#shop{
margin-top: -5%;
margin-left: -3%;
}
#tool1:hover,#tool2:hover,#tool3:hover{
background-color: orchid;
transition: transform 0.3s ease, background-color 0.3s ease;
}
#product-item{
background-color: #A6B2CA;
border-radius: 10px;
height: 60vh;
}
#product-item:hover{
background-color: orange;
transition: transform 0.3s ease, background-color 0.3s ease;
}
#cart{
margin-left: 1%;
}
#visit-product{
margin-top: 1%;
margin-left: 10%;
}
#visit-product:hover{
background-color: white;
transition: transform 0.3s ease, background-color 0.3s ease;
}
#other-product{
padding-top: 1%;
background-color:#F9F9F9;
border-radius: 20px;
height: 130vh;
}
#special-product{
margin-left: 5%;
background-color: #FFCC42;
width: 60vh;
height: 124vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#special-product h4{
padding-top: 40%;
padding-left: 10%;
}
#special-product img{
width: 150%;
padding-right: 50%;
}
#simple-product{
display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: 15%;
}
#new-product{
display: grid;
margin-top: 10%;
padding: 5%;
background-color: #F9F9F9;
grid-template-columns: repeat(3,1fr);
column-gap: 10%;
row-gap: 5%;
}
#discount{
margin-top: 10%;
}
#discount-item1{
background-color: #F9F9F9;
height: 84vh;
}
#discount-item2{
display: flex;
flex-direction: column;
justify-content: center;
background-color:#9AE2ED;
}
#discount-item3{
background-color: #F9F9F9;
}
#save-up{
padding-top: 5%;
padding-left: 5%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#new-info{
margin-top:5%;
height: 100vh;
}
#divider2{
background-color: #DD2600;
}
#divider1,#divider3{
background-color:#FD3B13;
width: 37.5%;
}
#dollar,#truck,#headset{
font-size: 700%;
}
#block{
background-color:#FCCA41;
height: 150vh;
}
#new{
position: relative;
}
#other{
margin-top: -90%;
display: flex;
margin-left: 7%;
position: absolute;
padding-top: 1.5%;
border-radius: 20px;
height: 130vh;
background-color: #F9F9F9;
}
#special{
margin-left: 5%;
background-color: #FFCC42;
width: 60vh;
height: 124vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 5%;
}
#testimony{
width: 50%;
height: 63vh;
padding-top: 1%;
margin-top: -30%;
background-color: #F7D375;
display: flex;
flex-direction: column;
/* margin-left: 40%; */

} */
#testimony h3{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer{
height: 150vh;
margin-top:0%;
width: 100%;
background-color: black;

}
#footer1{
display: flex;
flex-direction: row;
gap: 5%;
padding-top: 5%;
margin-left: 1%;
}
#hardware-shop h3 b{
color: red;
margin-top: 30%;
}
#footer1 #p-categories div a{
text-decoration: none;
color: white;
}
#product-categories{
    height:100vh;
    margin-top: 45%;
    gap: 50%;
}
#footer1 #enterprise div a{
text-decoration: none;
color: white;
}
#buy-now{
display: flex;
align-items: center;
justify-content: center;
background-color: red;
height: 10vh;
}
#footer1 #partner div a{
text-decoration: none;
}
#footer1 #help-center div a{
text-decoration: none;
}
#footer2{
margin-top: -15%;
display: flex;
flex-direction: column;
}
#footer2 form{
margin-left: 25%;
display: flex;
justify-content: center;
}
#footer3{
height: 0.25vh;
}
@media screen and (max-width: 576px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'inter sans-serif', sans-serif;
}
#header{
    background: linear-gradient(to left,#777777,#A4A4A4,#BABABA,#D4D4D4);
    height: 110vh;
    width: 100%;
}

#logo img{
    max-width: 200px;
    margin-left: 30%;
    /* remonter légèrement le logo : ajuster la valeur si nécessaire */
    transform: translateY(-28%);
    transition: transform 0.15s ease;
    margin-bottom: 0.5rem;
}
#logo h4{
    /* remonter légèrement le logo : ajuster la valeur si nécessaire */
    transform: translateY(-370%);
    transition: transform 0.15s ease;
    margin-bottom: 0.5rem;
    font-size: 120%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 70%;
    margin-top: -15%;
}
#logo h6{
   padding-right: 345px;
   display: flex;
   font-size: 90%;
   column-count: 2;
   transform: translateY(280%);
    transition: transform 0.15s ease;
}

#search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    width: 1000px;
}
#search-bar form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-bar input[type="text"]{
    border: 1px solid white;
    border-radius: 0px 0 0 0px;
    outline: none;
    padding-left: 20%;
    width: 500px;
}
#search-bar button[type="submit"]{
    /* width: 10vh; */
    border: 1px solid #ccc;
    border-radius: 0 1000px 1000px 0;
    background-color: orange;
    cursor: pointer;
    /* padding-right: 100%; */
}
#search-bar button[type="button"]{
    border: 1px solid none;
    border-radius: 1000px 0 0 1000px;
    padding-right: 50%;
    white-space: nowrap;
    /* margin-right: 100%; */
}
.icons{
    text-decoration: none;
    color: black;
    font-size: 150%;
    transition: color 0.3s ease;
}
#our-top-products{
    display: flex;
    margin-top: 0%;
    flex-direction: column;
    align-items: center;
    row-gap: 10%;
}
.icons:hover{
    color: orange;
}
.followus span{
    font-size: 150%;
}
.followus{
    margin-top: -60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
}
.trackorder{
    display: flex;
    margin-left: 35%;
    margin-top: 10%;
}
.icon{
    gap:10%;
    display: flex;
    margin-left: 35%;
    margin-top: 5%;
}
#navbar{
    width: 100%;
}
#nav-links a:hover{
    color: blue;
}
#section{
    background-image: url('../img/design.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
}
#Design{
    font-size: 150%;
    padding-top: -3%;
    padding-left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#position{
    font-size: 150%;
    padding-top: 6%;
    padding-left: 7%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#section .article #info{
    padding-left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#pub{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}
#pub #pub2{
    margin-top: 5%;
}
#section .article #info button {
    background-color: #D8D8D8;
}
#perceuse{
    display: flex;
    margin-top: 5%;
    margin-left:-15%;
    height: 75vh;
    width: auto;
    padding-inline: 10%;
}
#price{
    background-color: #FFCC42;
    width: 15vh;
    height: 15vh;
    border-radius: 1000px;
    margin-left: 75%;
    margin-top: 0-5%;
    padding-left: 2.3%;
    padding-top: 1.7%;
}
#drilling-img2{
    display: flex;
    margin-top: 5%;
    margin-left:-5%;
    height: 75vh;
    width: auto;
}
#info1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tools{
    display: flex;
    margin-top: 10%;
    margin-bottom: 30%;
    flex-direction: column;
    align-items: center;
    row-gap: 10%;
}
#top{
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
#tool1{
    background-color: #FFCC42;
    padding: 3%;
    width: 88vh;
    height: 78vh;
    border-radius: 20px;
    margin-left: 1%;
    margin-top: 2%;

}
#tool1 img{
    padding-left: 50%;
    width: 500px;
    margin-top: -80%;
    margin-left: -5%;
}
#games{
    padding-left: 13%;
}
#shop-now-btn{
    background-color: red;
    border-radius: 10px;
}
#Xbox{
    font-size: 150%;
    padding-top: 2%;
    padding-left: 8%;

}
#Save{
    padding-top: 5%;
    padding-left: 1%;
}
#tool2{

    background-color: #FFCC42;
    width: 70vh;
    border-radius: 20px;
    margin-left: 0%;
    margin-top: 10%;
    height: 65vh;

}
#tool2 img{
    padding-left: 50%;
    width: 400px;
    margin-top: -45%;
    margin-left: 0%;
}
#games{
    padding-left: 13%;
}
#shop-now{
    background-color: white;
    border-radius: 10px;
}
#Xbox{
    font-size: 150%;
    padding-top: 2%;
    padding-left: 8%;

}
#Save{
    padding-top: 5%;
    padding-left: 1%;
}
#tool3{

    background-color: #FFCC42;
    width: 70vh;
    border-radius: 20px;
    margin-left: 0%;
    margin-top: 10%;
    height: 65vh;

}
#tool3 img{
    padding-left: 50%;
    width: 400px;
    margin-top: -38%;
    margin-left: -4%;
}
#games{
    padding-left: 13%;
}
#shop-now-btn{
    background-color: white;
    border-radius: 10px;
}
#Xbox{
    font-size: 150%;
    padding-top: 2%;
    padding-left: 8%;

}
#Save{
    padding-top: 5%;
    padding-left: 1%;
}
#USD{
    padding-top: -20%;
    font-size: 150%;
    padding-left: 7%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#shop{
    margin-top: -5%;
    margin-left: -3%;
}
#tool1:hover,#tool2:hover,#tool3:hover{
    background-color: orchid;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
#product-item{
  background-color: #A6B2CA;
  border-radius: 10px;
  height: 70vh;
}
#product-item:hover{
    background-color: orange;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
#cart{
   margin-left: 1%;
}
#visit-product{
    margin-top: 1%;
    margin-left: 20%;
}
#visit-product:hover{
    background-color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
#other-product{
    padding-top: 5%;
    background-color:#F9F9F9;
    border-radius: 20px;
    height: 130vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#special-product{
    margin-left: 5%;
    background-color: #FFCC42;
    width: 60vh;
    height: 124vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#special-product h4{
    padding-top: 40%;
    padding-left: 10%;
}
#special-product img{
    width: 150%;
    padding-right: 50%;
}
#simple-product{
    margin-top: 5%;
    border-radius: 20px;
    row-gap: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#new-product{
    margin-top: 300%;
    padding: 5%;
    border-radius: 20px;
    row-gap: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#discount{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#discount-item1{
    background-color: #F9F9F9;
    height: 95vh;
}
#discount-item2{
    height: 95vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#9AE2ED;
}
#discount-item3{
    background-color: #F9F9F9;
}
#save-up{
    padding-top: 5%;
    padding-left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#new-info{
    margin-top:5%;
    height: 100vh;
}
#divider2{
    background-color: #DD2600;
}
#divider1,#divider3{
    background-color:#FD3B13;
    width: 37.5%;
}
#divider1 div,#divider3 div,#divider2 div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#dollar,#truck,#headset{
    font-size: 700%;
}
#block{
    background-color:#FCCA41;
    height: 150vh;
}
#new{
    position: relative;
}
#other{
     padding-top: 5%;
    background-color:#F9F9F9;
    border-radius: 20px;
    height: 130vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#special{
    margin-left: 5%;
    background-color: #FFCC42;
    width: 60vh;
    height: 124vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
#testimony{
    height: 100vh;
    padding-top: 1%;
    margin-top: 320%;
    background-color: #F7D375;
    display: flex;
    flex-direction: column;
    /* margin-left: 40%; */

}
#testimony h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer{
    height: 650vh;
    margin-top: 2450%;
    width: 100%;
    background-color: black;

}
#footer1{
    padding-top: 5%;
    border-radius: 20px;
    height: 130vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 1%;
}
#hardware-shop h3 b{
    color: red;
    margin-top: 30%;
}
#footer1 #p-categories div a{
    text-decoration: none;
    color: white;
}
#product-categories{
      height:100vh;
      margin-top: 45%;
      gap: 50%;
}
#footer1 #enterprise div a{
    text-decoration: none;
    color: white;
}
#buy-now{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 10vh;
}
#footer1 #partner div a{
    text-decoration: none;
}
#footer1 #help-center div a{
    text-decoration: none;
}
#footer2{
    margin-top: 420%;
    display: flex;
    flex-direction: column;
}
#footer2 form{
    margin-left: 25%;
    display: flex;
    justify-content: center;
}
#footer3{
    height: 0.25vh;
}


}
